@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
@import './ui/**.styl'
@import './chart.styl'

body {
    margin 0
    padding 0
    color: #e1e1e1
    font-family: 'Roboto', sans-serif
    background: #111111
    height: 100%
    overflow hidden
}

.page-home
    display flex
    justify-content: center
    align-items: center
    height: 100%
    overflow: hidden
