@import './ui/**.styl'
@import './chart.styl'

body {
    margin 0
    padding 0
    color: #e1e1e1
    font-family: 'Roboto' Helvetica
    background: #111111
}

.page-home
    display flex
    justify-content: center
    align-items: center
